__pycache__/
*.pyc

.venv/
venv/
env/

.vscode/
.idea/

outputs/
runs/
logs/
results/

datasets/
dataset/
data/
IRSatVideo-LEO/

checkpoints/*
!checkpoints/.gitkeep

*.pth
*.pth.tar
*.pt
*.ckpt

build/
dist/
*.egg-info/

*.so
*.pyd

model/dcn/build/
model/dcn/**/build/